.Header_lang{
    background-color: #3A416F;
    width: 100%;
    height: 6vw;
    display: flex;
    flex-wrap: nowrap;
}
.Header_lang div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 3vw;
    margin-top: 1.5vw;
}
.Lang{
    width: 50%;
    margin-left:2vw;
    text-align: left;
}
.Lang img {
    margin-right: 20vw;
}
.Order{
    visibility: hidden;
    text-align: center;
    width: 0%;
}
.Order a{
    color: white;
}
.Logsign{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}
.Logsign div{
    margin: 0%;
    width: 30%;
}
@media only screen and (min-width: 600px) {
    .Header_lang div{
        margin-top: 0.6vw;
    }
    .Header_lang {
        height: 6vw;
    }
}
@media only screen and (min-width: 768px){
    .Header_lang {
        height: 2vw;
    }
    .Logsign div{
        width: 17%;
    }
    .Header_lang div{
        font-size: 1vw;
        margin-top: 0.2vw;
    }
    .Order{
        width: 33.333%;
        visibility: visible;
    }
}